@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

$backgroundColor: #000000;
$bodyColor: #ffffff;
$bodyFont: "Rubik", sans-serif;
$poof: fade 1s ease-in-out forwards, up 1s cubic-bezier(0, 0, 0, 1) forwards;
// $bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
html {
    max-width: 91rem;
    margin: auto;
}
body {
    margin: 3em;
    justify-content: center;
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
}
body::-webkit-scrollbar {
    // exeperimental
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

header {
    animation: $poof;
    animation-delay: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    font-weight: 200;
    h1 {
        font-weight: 200;
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 1em;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-position: outside;
        li {
            margin-left: 1em;
            display: inline;
        }
    }
    a {
        text-decoration: none;
    }
}

footer {
    margin-top: 10rem;
    animation: $poof;
    animation-delay: 1.5s;
    h1 {
        font-weight: 200;
        padding: 0;
        margin: 0;
        display: inline-block;
        font-size: 1em;
    }
    opacity: 0;
    font-size: 3rem;
    font-weight: 200;
}
a {
    color: $bodyColor;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

main {
    font-weight: 200;
    animation: $poof;
    animation-delay: 1s;
    opacity: 0;
    font-size: 2rem;
    h2 {
        font-weight: 200;
        font-size: 1.5 em;
    }
    h1 {
        font-size: 2.5em;
        padding-top: 3rem;
    }

    li + li {
        line-height: 1.3;
        margin-top: 1em;
    }
}

.doublecolumn {
    p {
        margin: 0;
    }
    p + p {
        margin-block-start: 1em;
        margin-block-end: 1em;
    }
    column-count: 2;
    column-gap: 6rem;
}

.inlinegrid {
    display: grid;
    column-gap: 6rem;
    grid-template-columns: 2 1fr;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    grid-auto-rows: minmax(10em, auto);
}

section.bang {
    font-weight: 300;
    width: 12em;
    margin: auto;
    margin-top: 20rem;
    margin-bottom: 20rem;
    font-size: 5rem;

    animation: $poof;
    // .human {
    //     color: red;
    // }
    // .developer {
    //     color: blue;
    // }
    // .artist {
    //     color: yellow;
    // }
    // .christian {
    //     color: green($color: #000000);
    // }
    // .engineer {
    //     color: white;
    // }
    // .entreprenuer {
    //     color: orange;
    // }
}
section.bang #one,
section.bang #two {
    font-weight: 500;
}

section.bang #three {
    font-weight: 700;
    button {
        all: inherit;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes up {
    from {
        transform: translateY(3rem);
    }
    to {
        transform: translateY(0);
    }
}
