<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
  {% include header.html header_links=page.header_links %}
  <!-- <h1 id="title">{{page.title}}</h1> -->
  <section class="bang">
    <p>
    the <span id="one">man</span>. the <span id="two">myth</span>.<br>
    the <span id="three"><button id="swap">legend</button>.</span></p>
  </section>
  <main>
    {{ content }}
  </main>
  <script src="{{ base.url | prepend: site.url }}/assets/js/customizebang.js"></script>
</body>
</html>
